
body {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

  

h1 {
  color: blue;
}

a {
  color: black; /* Default color */
  text-decoration: none; /* Remove underline by default */
}

a:visited {
  color: black; /* Color after the link is visited */
}

a:active {
  color: black; /* Color when the link is clicked */
}